teaser-li {
    display:block;
}
teaser-link {
    display:inline-block;
    padding-right: 1.3rem;
}
teaser-block {
    line-height: 0.8rem;
    font-size: 0.7rem;
}
.teaser-link-menu {
    display: none;
}
.teaser-link-own {
    font-style: italic;
}
.teaser-link-foreign {
    letter-spacing: -1px;
}
