<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<head>
    <title>Pluig-template for mysearch-request toelastic-search</title>
</head>
<body>
<f:layout name="Default" />


<f:section name="Main">
    <h2>Hallo Formular</h2>
    <f:form object="{searchfilter}">

            <label for="mainSearchWords">
                <f:translate key="plugin.myform.searchfilter.form.mainSearchWords"
                             extensionName="mysearchext"
                 />
            </label>
        <f:form.textfield property="mainSearchWords" id="mainSearchWords"/>
            <label for="secondSearchWords">
                <f:translate key="plugin.myform.searchfilter.form.secondSearchWords"
                             extensionName="mysearchext"
                 />
            </label>
        <f:form.textfield property="secondSearchWords" id="secondSearchWords"/>
            <label for="optionalSearchWords">
                <f:translate key="plugin.myform.searchfilter.form.optionalSearchWords"
                             extensionName="mysearchext"
                 />
            </label>
        <f:form.textfield property="optionalSearchWords" id="optionalSearchWords"/>
            <label for="forbiddenSearchWords">
                <f:translate key="plugin.myform.searchfilter.form.forbiddenSearchWords"
                             extensionName="mysearchext"
                 />
            </label>
        <f:form.textfield property="forbiddenSearchWords" id="forbiddenSearchWords"/>
            <label for="indexList">
                <f:translate key="plugin.myform.searchfilter.form.indexList"
                             extensionName="mysearchext"
                 />
            </label>
        <f:form.textfield property="indexList" id="indexList"/>
    </f:form>

</f:section>


</body>
</html>
