<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<head>
    <title>Pluig-template for mysearch-request toelastic-search</title>
</head>
<body>
<f:layout name="Default"/>

<f:section name="Main">
    <h2>
        <f:translate key="plugin.myform.searchfilter.form.title"
                     extensionName="mysearchext"
        />
    </h2>
    <!-- this needs an current refactoring in the styling. - Frontend-styles are not mmy profession. I am looking for help -->
    <f:form id="searchfilter" object="{searchfilter}" objectName="searchfilter" method="post">
        <f:form.hidden property="wordsStop"/>
        <table>

            <tr>
                <th scope="row">
                    <label for="wordsMain">
                        <f:translate key="plugin.myform.searchfilter.form.wordsMain"
                                     extensionName="mysearchext"
                        />
                    </label></th>
                <td>
                    <f:form.textfield property="wordsMain" id="wordsMain" size="50"/>
                </td>
                <td> </td>
            </tr>
            <tr>
                <th scope="row">
                    <label for="wordsSecond">
                        <f:translate key="plugin.myform.searchfilter.form.wordsSecond"
                                     extensionName="mysearchext"
                        />
                    </label></th>
                <td>
                    <f:form.textfield property="wordsSecond" id="wordsSecond" size="50"/>
                </td>
                <td> </td>
            </tr>
            <tr style="display:none;">
                <!-- I dont know currently how I can add optional words -->
                <th scope="row">
                    <label for="wordsOptional">
                        <f:translate key="plugin.myform.searchfilter.form.wordsOptional"
                                     extensionName="mysearchext"
                        />
                    </label></th>
                <td>
                    <f:form.textfield property="wordsOptional" id="wordsOptional" size="50"/>
                </td>
                <td> </td>
            </tr>
            <tr style="display:none;">
                <!-- I dont know currently how I can add forbidden words -->
                <th scope="row">
                    <label for="wordsForbidden">
                        <f:translate key="plugin.myform.searchfilter.form.wordsForbidden"
                                     extensionName="mysearchext"
                        />
                    </label></th>
                <td>
                    <f:form.textfield property="wordsForbidden" id="wordsForbidden"/>
                </td>
                <td> </td>
            </tr>
        <tr> <th scope="row">

            <label for="indexList">
                <f:translate key="plugin.myform.searchfilter.form.indexList"
                             extensionName="mysearchext"
                />
            </label></th>
            <td>
                <f:form.select id="indexList"
                               property="indexList"
                               options="{searchIndices}"
                               multiple="true"
                />
            </td>
            <td> </td>
        </tr>
            <tr>
                <th scope="row"></th>
                <td> </td>
                <td>
                    <button type="submit">
                        <f:translate key="plugin.myform.searchfilter.form.startSearch"
                                     extensionName="mysearchext"
                        />
                    </button>
                </td>

            </tr>
        </table>
    </f:form>

</f:section>


</body>
</html>
