<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="HeaderAssets">


    <link rel="apple-touch-icon" sizes="180x180" href="typo3conf/ext/mysearchsite/Resources/Public/Favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="typo3conf/ext/mysearchsite/Resources/Public/Favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="typo3conf/ext/mysearchsite/Resources/Public/Favicons/favicon-16x16.png">
    <link rel="manifest" href="typo3conf/ext/mysearchsite/Resources/Public/Favicons/site.webmanifest">
    <link rel="mask-icon" href="typo3conf/ext/mysearchsite/Resources/Public/Favicons/safari-pinned-tab.svg" color="#97f1ae">
    <link rel="shortcut icon" href="typo3conf/ext/mysearchsite/Resources/Public/Favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#97f1ae">
    <meta name="msapplication-TileImage" content="typo3conf/ext/mysearchsite/Resources/Public/Favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="typo3conf/ext/mysearchsite/Resources/Public/Favicons/browserconfig.xml">
    <meta name="theme-color" content="#97f1ae">


</f:section>
<f:section name="Main">

    <div class="container">
        <div class="alert alert-info">
            <dl>
                <dt>Template file</dt>
                <dd>
                    <code>typo3conf/ext/mysearchsite/Resources/Private/Templates/Page/Example.html</code>
                </dd>
                <dt>Backend Configuration</dt>
                <dd>
                    <code>typo3conf/ext/mysearchsite/Configuration/TsConfig/Page/Mod/WebLayout/BackendLayouts/example.tsconfig</code>
                </dd>
            </dl>
        </div>
    </div>
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}" />

</f:section>
</html>
