<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Listing for MyIndex</h1>

    <f:flashMessages />

    <table  class="tx_mysearchext" >
        <tr>
            <th><f:translate key="tx_mysearchext_domain_model_myindex.name" /></th>
            <th><f:translate key="tx_mysearchext_domain_model_myindex.vendor" /></th>
            <th><f:translate key="tx_mysearchext_domain_model_myindex.description" /></th>
            <th><f:translate key="tx_mysearchext_domain_model_myindex.index_ident" /></th>
            <th><f:translate key="tx_mysearchext_domain_model_myindex.index_score_factor" /></th>
            <th><f:translate key="tx_mysearchext_domain_model_myindex.title_trans_key" /></th>
            <th><f:translate key="tx_mysearchext_domain_model_myindex.description_trans_key" /></th>
            <th><f:translate key="tx_mysearchext_domain_model_myindex.linkbase_files_folder" /></th>
            <th><f:translate key="tx_mysearchext_domain_model_myindex.default_type" /></th>
            <th><f:translate key="tx_mysearchext_domain_model_myindex.default_grade" /></th>
            <th> </th>
            <th> </th>
        </tr>

        <f:for each="{myIndices}" as="myIndex">
            <tr>
                <td><f:link.action action="show" arguments="{myIndex : myIndex}">{myIndex.name}</f:link.action></td>
                <td><f:link.action action="show" arguments="{myIndex : myIndex}">{myIndex.vendor}</f:link.action></td>
                <td><f:link.action action="show" arguments="{myIndex : myIndex}">{myIndex.description}</f:link.action></td>
                <td><f:link.action action="show" arguments="{myIndex : myIndex}">{myIndex.indexIdent}</f:link.action></td>
                <td><f:link.action action="show" arguments="{myIndex : myIndex}">{myIndex.indexScoreFactor}</f:link.action></td>
                <td><f:link.action action="show" arguments="{myIndex : myIndex}">{myIndex.titleTransKey}</f:link.action></td>
                <td><f:link.action action="show" arguments="{myIndex : myIndex}">{myIndex.descriptionTransKey}</f:link.action></td>
                <td><f:link.action action="show" arguments="{myIndex : myIndex}">{myIndex.linkbaseFilesFolder}</f:link.action></td>
                <td><f:link.action action="show" arguments="{myIndex : myIndex}">{myIndex.defaultType}</f:link.action></td>
                <td><f:link.action action="show" arguments="{myIndex : myIndex}">{myIndex.defaultGrade}</f:link.action></td>
                <td><f:link.action action="edit" arguments="{myIndex : myIndex}">Edit</f:link.action></td>
                <td><f:link.action action="delete" arguments="{myIndex : myIndex}">Delete</f:link.action></td>
            </tr>
        </f:for>
    </table>

    <f:link.action action="new">New MyIndex</f:link.action>
</f:section>
</html>
